<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  ></button>
  <span class="homeTitle"
    >Welcome to<span class="text-sucess"> Notes</span></span
  >
  <span class="example-spacer"></span>
  <button class="btn btn-submit mx-1" routerLink="/notesform">Add Task</button>
  <button class="btn btn-submit mx-1" routerLink="/note-list">View Task</button
  >&nbsp;&nbsp;
</mat-toolbar>

<div class="container-fluid p-0">
  <div class="content p-0 pt-2">
    <div class="row">
      <div class="card text-black">
        <img
          src="https://img.freepik.com/free-vector/hand-drawn-time-management-concept-illustration_52683-54970.jpg?t=st=1722885571~exp=1722889171~hmac=6f6a49191920e907e28bb6bb85362dfbfd50b9aebd5eaa5b0278376ec0f93604&w=740"
          class="card-img"
          width="100%;"
          alt="responsive"
        />
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>&copy; 2024 Kaushik Design. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
